<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<header th:replace="lib/header :: header"></header>
<div style="max-width: 200px; height: 90vh; float: left;">
    <a th:href="@{/contentlist}">View Contents</a><br/>
    <a th:href="@{/addcontent}">Form Content</a>
</div>
<div style="display: inline-block; float: left;">
    <h1>View Content</h1>
    <label for="tblContent"></label>
    <table border="1" id="tblContent">
        <thead>
        <th>#</th>
        <th>Title</th>
        <th>Brief</th>
        <th>Create Date</th>
        </thead>
        <tbody>
        <tr th:each="content : ${contents}">
            <td th:text="${content.contentId}"></td>
            <td th:text="${content.title}"></td>
            <td th:text="${content.brief}"></td>
            <td th:text="${content.createDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>