<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.com">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Please Sign In</h1>
<form method="post" th:action="@{/loginmember}">
  <input type="text" name="email" th:placeholder="E-mail" required autofocus><br/>
  <input type="password" name="password" th:placeholder="Password" required><br/>
  <input type="checkbox" id="boxMe" name="remember-me">
  <label for="boxMe">Remember Me</label><br/>
  <input type="submit" value="Login">
</form>
<a th:href="@{/register}">Click here to Register</a>
<h3 th:text="${notification}"></h3>
</body>
</html>